Task 1

a)

In [ ]:
counter = 24

while counter >= -6:
  if counter == -6:
    print(counter, end='')
  else:
    print(counter, end=', ')

  counter = counter - 6

24, 18, 12, 6, 0, -6

b)

In [ ]:
counter = -10

while counter <= 20:
  if counter == 20:
    print(counter, end='')
  else:
    print(counter, end=', ')

  counter = counter + 5

-10, -5, 0, 5, 10, 15, 20

c)

In [ ]:
counter = 18

while counter <= 63:
  if counter == 63:
    print(counter, end='')
  else:
    print(counter, end=', ')
  counter += 9

18, 27, 36, 45, 54, 63

d)

In [ ]:
counter = 18
n = 0
while counter <= 63:
  if counter == 63:
    print(((-1)**n)*counter, end='')
  else:
    print(((-1)**n)*counter, end=', ')
  counter += 9
  n += 1

18, -27, 36, -45, 54, -63

Task 2

In [ ]:
car = input("Enter the name of your favourite car: ")
number = int(input("Enter a number: "))

for i in range(number):
  print(car)

Enter the name of your favourite car: Veyron
Enter a number: 5
Veyron
Veyron
Veyron
Veyron
Veyron

Task 3

In [ ]:
sum = 0

for i in range(601):
  if i % 7 == 0 and i % 9 == 0:
    sum += i
print(sum)

2835

Task 4

In [ ]:
sum = 0

for i in range(601):
  if i % 7 == 0 and i % 9 !=  0:
    sum += i
  elif i % 7 != 0 and i % 9 == 0:
    sum += i
print(sum)

39814

Task 5

In [ ]:
for i in range(10, 51):
  if i % 2 != 0:
    print(i, end = ' ')

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

Task 6

In [ ]:
n = int(input("Enter the number: "))
count = 0
sum = 0
for i in range(1,n+1):
  print(i)
  sum += (i**2)*(-1)*n
  count += 1
print(sum)

1
2
3
4
5
-275

Task 7

In [ ]:
sum = 0
count = 0
for i in range(0, 10):
  n = int(input("Please enter the number: "))
  if n % 2 != 0:
    sum += n
    count += 1

print(f'The total of the odd numbers is {sum} and their average is {sum/count}')

Please enter the number: 1
Please enter the number: 2
Please enter the number: 3
Please enter the number: 4
Please enter the number: 5
Please enter the number: 6
Please enter the number: 7
Please enter the number: 8
Please enter the number: 9
Please enter the number: 10
The total of the odd numbers is 25 and their average is 5.0

Task 8

In [ ]:
N = int(input("Please enter the number: "))
sum = 0

for i in range(0, N):
  if i % 7 == 0:
    sum += i

print(sum)

Please enter the number: 50
196

Task 9

In [ ]:
sum = 0

for i in range(0, 5):
  n = int(input("Please enter the number: "))
  sum += n
  print(sum)

Please enter the number: 1
1
Please enter the number: 2
3
Please enter the number: 3
Please enter the number: 4
6
10
Please enter the number: 5
15

Task 10

In [ ]:
n = int(input())
print(len(str(n)))
temp = n

for i in range(len(str(n))):
  if i == len(str(n))-1:
    print(temp%10)
  else:
    print(temp%10, end=',')
  temp = n // 10
  print(temp)

32768
5
8,3276
6,3276
6,3276
6,3276
6
3276

Task 11

In [ ]:
N = int(input("Please enter the number: "))
temp = N
count = 0

while temp != 0:
  count += 1
  temp = temp // 10
print(count)

Please enter the number: 9876
4

Task 12

In [ ]:
N = int(input("Please enter the number: "))
temp = N
count = 0

while temp != 0:
  count += 1
  temp = temp // 10

temp2 = N
count2 = count

for i in range(0, count):
  if i == count-1:
    print(temp2//(10**(count2-1)),end='.')
  else:
    print(temp2//(10**(count2-1)),end=',')
  temp2 = temp2 % 10**(count2-1)
  count2 -= 1

Please enter the number: 32768
3,2,7,6,8.

Task 13

In [ ]:
N = int(input("Please enter the number: "))
divisor_count = 0

for i in range(1, N+1):
  if N % i == 0:
    print(i)
    divisor_count += 1

print(f'Total {divisor_count} divisors')

Please enter the number: 6
1
2
3
6
Total 4 divisors

Task 14

In [ ]:
N = int(input("Please enter the number: "))

sum = 0
for i in range(1, N):
  if N % i == 0:
    sum += i

if sum == N:
  print(f'{N} is a perfect number')
else:
  print(f'{N} is not a perfect number')

Please enter the number: 33
33 is not a perfect number

Task 15

In [ ]:
N = int(input("Please enter the number: "))
divisor_count = 0

for i in range(1, N+1):
  if N % i == 0:
    divisor_count += 1

if divisor_count == 2:
  print(f"{N} is a prime number")
else:
  print(f"{N} is not a prime number")

Please enter the number: 6
6 is not a prime number

Task 16

In [ ]:
quantity = int(input("Please enter the number: "))
count = 0
sum = 0

for i in range(1):
  take  = int(input("Please take the numbers: "))
  count += 1
  sum += take

max = take
min = take

for i in range(2, quantity+1):
  take = int(input("Please take the numbers: "))
  if take > max:
    max = take
  elif take < min:
    min = take
  count += 1
  sum += take

print(f'Maximum {max}')
print(f'Minimum {min}')
print(f'Average is {sum/count}')

Please enter the number: 5
Please take the numbers: 10
Please take the numbers: 4
Please take the numbers: -1
Please take the numbers: -100
Please take the numbers: 1
Maximum 10
Minimum -100
Average is -17.2

Task 17

In [ ]:
N = int(input("Enter: "))

for i in range(0, N):
  for j in range(0, N):
    print('+', end='')
  print()

Enter: 5
+++++
+++++
+++++
+++++
+++++

Task 18

In [ ]:
N = int(input("Enter the row: "))
M = int(input("Enter the coloum: "))
for i in range(1, N+1):
  for j in range(1, M+1):
    print(j, end='')
  print()

Enter the row: 4
Enter the coloum: 6
123456
123456
123456
123456

Task 19

In [ ]:
N = int(input("Enter the row: "))

for i in range(1, N+1):
  for j in range(1, i+1):
    print(j, end='')
  print()

Enter the row: 4
1
12
123
1234

Task 25

In [7]:
N = int(input("Please enter the range: "))

a = 0
b = 1

while a <= N:
  print(a,end=' ')
  a, b = b, a+b

Please enter the range: 10
0 1 1 2 3 5 8

Task 26

In [5]:
decimal = int(input("Please enter the deciam value: "))
s = ''

while decimal>0:
  remainder = decimal % 2
  s = str(remainder)+s
  decimal = decimal // 2

print(s)

Please enter the deciam value: 11
1011