Task01

In [ ]:

list =[]

for i in range(5):
  user = int(input("Please enter the number: "))
  list.append(user)
  print(f'Numbers in the list:{list}')

Please enter the number: 3
Numbers in the list:[3]
Please enter the number: 5
Numbers in the list:[3, 5]
Please enter the number: 34
Numbers in the list:[3, 5, 34]
Please enter the number: -11
Numbers in the list:[3, 5, 34, -11]
Please enter the number: 0
Numbers in the list:[3, 5, 34, -11, 0]

Task02

In [ ]:
user = str(input())
user_list = user.split(', ')
user_list2 =user_list[2:-2]
list = []
for i in range(len(user_list2)):
  list.append(int(user_list2[i]))

print(list)

10, 20, 24, 25, 26, 35, 70
[24, 25, 26]

Task03

In [8]:
list = []

for i in range(5):
  user = int(input("Please enter the number: "))
  list.append(user)
list = list[::-1]

for i in list:
  print(i)

Please enter the number: 5
Please enter the number: -5
Please enter the number: 100
Please enter the number: 1
Please enter the number: 0
0
1
100
-5
5

Task04

In [10]:
list = [1, 2, 3, 4, 5, 6, 7]
list2 = []
for i in list:
  list2.append(i**2)

print(list2)

[1, 4, 9, 16, 25, 36, 49]

Task05

In [13]:
list = ["hey", "there", "", "what's", "", "up", "", "?"]

modified_list = []

for i in list:
  if i != '':
    modified_list.append(i)

print(f'Original List: {list}')
print(f'Modified List: {modified_list}')

Original List: ['hey', 'there', '', "what's", '', 'up', '', '?']
Modified List: ['hey', 'there', "what's", 'up', '?']

Task06

In [26]:
string = input("Please enter the 7 number string:")
list = string.split(',')
list2 = []
for i in list:
  list2.append(int(i))

largest_number = int(list2[0])
largest_index = 0

for i in range(len(list2)):
  if list2[i] > largest_number:
    largest_number = list2[i]
    largest_index  = i

print(f'My List: {list2}')
print(f'Largest number in the list is {largest_number} which was found at index {largest_index}')

Please enter the 7 number string:7,13,2,10,6,-11,0
My List: [7, 13, 2, 10, 6, -11, 0]
Largest number in the list is 13 which was found at index 1

Task07

In [42]:
list1 = [1, 4, 7, 5]
list2 = [6, 1, 3, 9]
list = []

for i in range(len(list1)-1):
  list.append(list1[i])
for j in list2:
  list.append(j)
print(list)

[1, 4, 7, 6, 1, 3, 9]

Task08

In [44]:
list_one = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list_two = [10, 11, 12, -13, -14, -15, -16]
list = []
for i in list_one:
  if i % 2 == 0:
    list.append(i)
for j in list_two:
  if j % 2 == 0:
    list.append(j)

print(list)

[2, 4, 6, 8, 10, 12, -14, -16]

Task09

In [55]:
string = input("Please eniter the string: ")
list = string.split(' ')
list2 = []
for i in list:
  list2.append(int(i))
list3 = []
for i in list2:
  if i % 2 != 0:
    list3.append(i)
print(list3)

Please eniter the string: 7 12 4 55 96 2 11 61 33 42
[7, 55, 11, 61, 33]

Task10

In [65]:
string = input("Please eniter the string: ")
list = [int(num.strip()) for num in string.split(",")]
print(list)
list2 = []

for i in list:
  if i not in list2:
    list2.append(i)
print(list2)

Please eniter the string: 0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
[0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Task11

In [2]:
List_one = [1, 4, 3, 2, 5]
List_two = [8, 7, 6, 9]

list = []
for i in List_one:
  if i in List_two:
    list.append(i)

if len(list) > 0:
  print("True")
else:
  print("False")

False

Task16

In [7]:
string = input("Please enter the 7 number string:")
list = string.split(',')
list2 = []
for i in list:
  list2.append(int(i))

largest_number = int(list2[0])
largest_index = 0

second_largest = 0
second_largest_index = 0
for i in range(len(list2)):
  if list2[i] > largest_number:
    largest_number = list2[i]

for i in range(len(list2)):
  if list2[i] != largest_number:
    if list2[i] > second_largest:
      second_largest = list2[i]
      second_largest_index = i

print(f'My list: {list2}')
print(f'Second largest number in the list is {second_largest} which was found at index {second_largest_index}')

Please enter the 7 number string:7, 13, 2, 10, 6, -11, 0
My list: [7, 13, 2, 10, 6, -11, 0]
Second largest number in the list is 10 which was found at index 3

Task17

In [9]:
string = input("Please enter the 7 number string:")
list = string.split(',')
list2 = []
for i in list:
  list2.append(int(i))

largest_number = int(list2[0])
largest_index = 0

smallest_number = int(list2[0])
smallest_index = 0

second_largest = 0
second_largest_index = 0
for i in range(len(list2)):
  if list2[i] > largest_number:
    largest_number = list2[i]
    largest_index = i

for i in range(len(list2)):
  if list2[i] < smallest_number:
    smallest_number = list2[i]
    smallest_index = i

print(f'My List: {list2}')
print(f'Smallest number in the list is {smallest_number} which was found at index {smallest_index}')
print(f'Largest number in the list is {largest_number} which was found at index {largest_index}')

Please enter the 7 number string:7, 13, -5, 10, 6
My List: [7, 13, -5, 10, 6]
Smallest number in the list is -5 which was found at index 2
Largest number in the list is 13 which was found at index 1

Task19

In [10]:
list_one = [1, 2, 2, 4, 5, 5, 7, 99, 200, 303, 70]
list_two = [1, 1, 2, 3, 3, 3, 4, 5, 200, 500, -5]
list = []

for i in list_one:
  if i not in list:
    list.append(i)

for i in list_two:
  if i not in list:
    list.append(i)

print(list)

[1, 2, 4, 5, 7, 99, 200, 303, 70, 3, 500, -5]