Task01

In [ ]:
def even_checker(number):
    if number % 2  == 0:
        print("Even!!")
    else:
        print("Odd!!")

even_checker(5)

Odd!!

Task02

In [ ]:
def fib(n):
    a = 0
    b = 1

    print(a,end=' ')
    print(b,end=' ')

    for i in range(2, n):
        print(a+b,end=' ')
        a, b = b, a + b

fib(7)

0 1 1 2 3 5 8

Task03

In [ ]:
def Function_call(num):
  if num % 2 == 0 and num % 3 == 0:
    print("FooMoo")
  elif num % 2 == 0:
    print("Foo")
  elif num % 3 == 0:
    print("Moo")
  else:
    print("Boo")
Function_call(4)

Foo

Task04

In [ ]:
def function_name(string):
  low = 0
  upper = 0
  for char in string:
    if 97 <= ord(char) <= 122:
      low += 1
    elif 65 <= ord(char) <= 90:
      upper += 1

  print(f"No. of Uppercase characters: {upper}")
  print(f"No. of Lowercase characters: {low}")

function_name("The quick Sand Man")

No. of Uppercase characters: 3
No. of Lowercase characters: 12

Task05

In [ ]:
def calculate_tax(age, salary, designation):
  if age < 18:
    tax = 0
    print(tax)
  elif designation == "p1resident":
    tax = 0
    print(tax)
  elif salary < 10000:
    tax = 0
    print(tax)
  elif 10000 <= salary <= 20000:
    tax = salary*0.05
    print(tax)
  elif salary >= 20000:
    tax  = salary*0.10
    print(tax)

age = int(input("Please enter your Age: "))
salary = int(input("Please enter your Salary: "))
designation = input("Please enter your job designation: ")

calculate_tax(age, salary, designation)

Please enter your Age: 20
Please enter your Salary: 122000
Please enter your job designation: president
0

Task06

In [ ]:
def function_name(days):
  years = days // 365
  remainder = days % 365
  month = remainder // 30
  day = remainder % 30
  print(f'{years} years, {month} months and {day} days')

days = int(input("Number of days: "))
function_name(days)

Number of days: 2250
6 years, 2 months and 0 days

Task07

In [ ]:
def show_palindrome(num):
  for i in range(1,num+1):
    print(i, end='')

  for j in range(1,num):
    print(num-j,end='')

num = int(input(""))
show_palindrome(num)

3
12321

Task08

In [ ]:
def show_palindrome_triangle(row):
  for i in range(1, row+1):
    print("   "*(row-i),end='')
    palindrome_row = show_palindrome(i)
    for char in palindrome_row:
      print(char, end=' ')
    print()

show_palindrome_triangle(num)

      1
   1 2 1
1 2 3 2 1

Task09

In [ ]:
import math
def area_circumference_generator(r):
  area = math.pi*r**2
  circum = 2*math.pi*r
  print(f'Area of the circle is {area} and circumference is {circum}')

area_circumference_generator(1)

Area of the circle is 3.141592653589793 and circumference is 6.283185307179586

Task10

In [ ]:
def make_square(tuple):
  starting,ending = tuple
  dict = {}
  for i in range(starting, ending+1):
    dict[i] = i**2

  print(dict)

make_square((1,3))

{1: 1, 2: 4, 3: 9}

Task11

In [ ]:
def rem_duplicate(input_tuple):
  unique = []
  for i in input_tuple:
    if i not in unique:
      unique.append(i)
  print(tuple(unique))

rem_duplicate((1,1,1,2,3,4,5,6,6,6,6,4,0,0,0))

(1, 2, 3, 4, 5, 6, 0)

Task12

In [ ]:
def function_name(list):
  new_list = []
  removed_count = 0
  for i in list:
    if new_list.count(i) < 2:
      new_list.append(i)
    else:
      removed_count += 1

  print(f'Removed: {removed_count}')
  print(new_list)

function_name([1, 2, 3, 3, 3, 3, 4, 5, 8, 8])

Removed: 2
[1, 2, 3, 3, 4, 5, 8, 8]

Task13

In [7]:
def function_name(operator, f, s):
  if operator == '+':
    print(f+s)
  elif operator == '-':
    print(f-s)
  elif operator == '*':
    print(f*s)
  elif operator == '/':
    print(f//s)

operator = input("Please input the operator: ")
f = float(input("Please ente the first operand: "))
s = float(input("Please enter the second operator: "))

function_name(operator, f, s)

Please input the operator: +
Please ente the first operand: 10
Please enter the second operator: 20
30.0

Task14

In [16]:
def function_name(Sentence, Position):
    new_string = ''
    removed_chars = ''

    for i in range(len(Sentence)):
        if i != 0 and i % Position == 0:
            removed_chars += Sentence[i]
        else:
            new_string += Sentence[i]

    result = new_string + removed_chars
    print(result)


Sentence = input("Please enter the sentence: ")
Position = int(input("Please enter the position number: "))

function_name(Sentence, Position)

Please enter the sentence: I love programming
Please enter the position number: 3
I lveprgrmmngo oai

Task15

In [33]:
def calculate_total(order_items, location="Dhanmondi"):
    # Define the item prices
    item_prices = {
        "Rice": 105,
        "Potato": 20,
        "Chicken": 250,
        "Beef": 510,
        "Oil": 85
    }

    total_price = 0
    for item in order_items:
        if item in item_prices:
            total_price += item_prices[item]

    if location == "Dhanmondi":
        total_price += 30
    else:
        total_price += 70

    return total_price

print(calculate_total(["Rice", "Beef", "Rice"], "Mohakhali"))  # Output: 790
print(calculate_total(["Rice", "Beef", "Rice"]))               # Output: 750

790
750