Task01

In [ ]:
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))

print(a_tuple[3][3])

400

Task02

In [ ]:
a_tuple = (10, 20, 24, 25, 26, 35, 70)
print(a_tuple[2:-2])

(24, 25, 26)

Task03

In [ ]:
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)

print(f'size of the tuple is: {len(book_info)}')
for i in book_info:
  print(i)

size of the tuple is: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

Task04

In [ ]:
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)

for i in range(len(book_info)):
  print(f'{book_info[i][1]} won the "{book_info[i][0]}" category with {book_info[i][2]} votes')

The Silent Patient won the "Best Mystery & Thriller" category with 68821 votes
The Institute won the "Best Horror" category with 75717 votes
The five won the "Best History & Biography" category with 31783 votes
The Testaments won the "Best Fiction" category with 98291 votes

Task05

In [ ]:
a_tuple =  (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)

take = int(input())

count = 0

for i in a_tuple:
  # print(i)
  if i == take:
    count += 1

print(f'{take} appears {count} times in the tuple')

8
8 appears 4 times in the tuple

Task06

In [ ]:
a_tuple = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
y = list(a_tuple)
y  = y[::-1]
a_tuple = tuple(y)
print(a_tuple)

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

Task07

In [ ]:
a = {'Harry':15, 'Draco':8, 'Nevil':19}
b = {'Ginie':18, 'Luna': 14}
c = dict()
c.update(a)
c.update(b)
print(c)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

Task08

In [10]:
a = input("Enter the dictionary: ")

pairs = a.split(',')
# print(pairs)

my_dict = {}

for i in pairs:
  key, value = i.split(':')
  my_dict[key] = int(value)

# print(my_dict)

sum = 0
count = 0

for i in my_dict.values():
  sum += i
  count += 1

print(f'Average is {sum//count}.')

Enter the dictionary: Jon:100, Dan:200, Rob:300
Average is 200.

Task09

In [11]:
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}

take = int(input("Enter the number: "))
new_dict = {}
for i,j in exam_marks.items():
  if j > take:
    new_dict[i] = j

print(new_dict)

Enter the number: 170
{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}

Task10

In [16]:
a_dict = {'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}

max = 0
name = ''
for i,j  in a_dict.items():
  if j > max:
    max = j
    name = i

print(f"The highest selling book genre is '{name}' and the number of books sold are {max}.")

The highest selling book genre is 'mystery' and the number of books sold are 15.

Task11

In [18]:
user_input = "Python programming is fun"

user_input = user_input.lower()

new_dict = {}

for char in user_input:
  if char != ' ':
    if char in new_dict:
      new_dict[char] += 1
    else:
      new_dict[char] =1

print(new_dict)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

Task12

In [19]:
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}

count = 0

for i in dict_1.values():
  for j in i:
    count += 1
print(count)

9

Task13

In [28]:
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]

new_dict = {}

for key,value in list_1:
  if key in new_dict:
    new_dict[key].append(value)
  else:
    new_dict[key] = [value]
print(new_dict)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}